@model MVCDersleri.Models.Personel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Home
        <br />


        <div> İsim: @Model.Ad</div>

        <p>Soyad: @Model.Soyad</p>
        <br />




    </div>
</body>
</html>
