@model IEnumerable<WebHelperGrid.Models.Urun>

<h2>UrunAra</h2>

<form method="post">
    <div>
        Ürün Adı:
        <input type="text" name="urunAd" value="@Request["urunAd"]" />
        <input type="submit" value="Ara" />
    </div>
</form>

@{
    string urunAd = Request["urunAd"];
    var urunler = WebHelperGrid.Models.Veri.UrunSorgula(urunAd);
    var grid = new WebGrid(urunler);
}

@grid.GetHtml()