
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>

    $(document).ready(function () {
        $.divler = $("#div0").html();
        $.divMesaj = "";

        for ($.i = 0; $.i < $.divler.length; $.i++) {
            $.divMesaj += $.divler[$.i].id + "/n";
        }

        alert($.divler);
    })
   //

</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div id="div0"> 0 </div>
    <div id="div1"> 1 </div>
    <div id="div2"> 2 </div>
    <div id="div3"> 3 </div>
    <div id="div4"> 4 </div>

</body>
</html>
