
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Sil</h2>

<h2>@Html.ViewBag.Uyarı</h2>


@Html.ActionLink("Listele", "Listele", "Grid", null, new { @class = "btn btn-warning" })

